<nav class="navbar navbar-dark bg-black-primary p-0 pt-1">
    <div class="container-fluid justify-content-around pt-1 pb-1">
        <a class="navbar-brand" routerLink='home'>
            <img src="../../../../assets/img/Greenline-logo-sm.png" height="55" alt="Greenline logo" loading="lazy" />
        </a>
    </div>

    <div class="container-fluid d-flex justify-content-center border-top border-bottom border-color-grey pb-2 pt-2">
        <ul class="navbar-nav d-flex flex-row align-items-center justify-content-evenly w-75">
          <li class="nav-item">
            <a mdbRipple type="button" role="button" class="btn bg-green-primary btn-sm text-black-secundary d-flex border border-color-green" href="" target="_blank">
                <span class="fw-bold ps-2 font-16 text-nowrap">Login</span>
            </a>
          </li>
        </ul>
      </div>      
</nav>
